#app {
    //Grid
    display: grid;
    grid-template-rows: auto 1fr auto;
    //Box
    min-height: 100vh;
    margin: 0;
    padding: 0;
    //font
    font-family: Avenir, Helvetica, Arial, sans-serif;
}